# Build folders
/build
/build-*/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.VC.db
*.opensdf
*.sdf
*.pdb
*.ilk
*.obj

# Executables
*.exe
*.out

# Logs
*.log

# OS
.DS_Store
Thumbs.db